<div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
    <button class="btn btn-warning rounded px-4">Skip</button>
    <button type="submit" class="btn btn-primary rounded px-4">Next Page</button>
</div>   