<%- include("partials/header") %>
    <h1>display</h1>
    <p><%= patientDetails %></p>
    <br><br>
    <% patientDetails.forEach(details =>{ %>
        <p><%= details %></p>
    <% }) %>
<%- include("partials/footer") %>
