<%- include("partials/header") %>

        <div class="errorbox d-flex align-items-center justify-content-center vh-100 flex-column gap-5">
            <div>
                <img src="/images/errorPage.webp" alt="error image" class="w-50 d-block m-auto">
            </div>
            <div>
                <h4>OOPS! Page Not Found</h4>
                <a href="/" class="d-block w-50% my-5 mx-auto text-center btn btn-primary">Go Home Page</a>
            </div>
        </div>

<%- include("partials/footer") %>