<%- include("partials/header") %>

        <div class="errorbox d-flex align-items-center justify-content-center vh-100 flex-column gap-5">
            <div>
                <img src="/images/errorPage.webp" alt="error image" class="w-50 d-block m-auto">
            </div>
            <div>
                <h4>OOPS! Page Not Found</h4>
            </div>
            <a class="btn btn-success mt-5 mx-auto" href="/home" role="button">Home</a>
        </div>

<%- include("partials/footer") %>