<%- include("partials/header") %>
    <div class="page">
        <form action="/home" method="post">
            <label for="">Enter reference number: </label><br>
            <input type="number" name="ref_no" placeholder="Enter reference number" autocomplete="off">
            <button class="btn btn-outline-success">Search</button>

            <br>
            <label for="">Enter name: </label><br>
            <input type="text" name="fullName" placeholder="Enter name" autocomplete="off">
            <button class="btn btn-outline-success">Search</button>
    
            <br>
            <label for="">Enter phone number</label><br>
            <input type="number" name="phoneNo" placeholder="Enter phone no" autocomplete="off">
            <button class="btn btn-outline-success">Search</button>
            
        </form>
        
    </form>

    <form action="">
        <button class="btn btn-primary w-20 mt-5">New application</button>
    </form>

<%- include("partials/footer") %>