<%- include("partials/header") %>
    <div class="page">
        <form action="/home" method="post" class="d-flex align-items-center justify-content-center h-50 gap-3 flex-wrap">
            <div>
                <label for="">Enter reference number: </label><br>
                <input type="number" name="ref_no" placeholder="Enter reference number" autocomplete="off">
                <button class="btn btn-outline-success mt-3 mt-sm-0 py-2">Search</button>
            </div>
            <div>
                <label for="">Enter name: </label><br>
                <input type="text" name="fullName" placeholder="Enter name" autocomplete="off">
                <button class="btn btn-outline-success mt-3 mt-sm-0 py-2">Search</button>
            </div>
            <div>
                <label for="">Enter phone number</label><br>
                <input type="number" name="phoneNo" placeholder="Enter phone no" autocomplete="off">
                <button class="btn btn-outline-success mt-3 mt-sm-0 py-2">Search</button>
            </div>  
        </form>
        
    </form>
    <form action="" class="m-x-auto">
        <button class="btn btn-primary w-40 d-block mt-5 mx-auto">New application</button>
    </form>
    </div>


<%- include("partials/footer") %>