<%- include("partials/header") %>
    
        <div class="centered">
            <div class="container">
                <a class="btn btn-light btn-lg mx-3 px-4" href="/register" role="button">Register</a>
                <a class="btn btn-success btn-lg px-4" href="/login" role="button">Login</a>
            </div>
        </div>
    

<%- include("partials/footer") %>
