<%- include("partials/header") %>

    <div class="page">
        <h2 class="py-4">4. SELECTION OF REMEDY</h2>
        <form action="/page4" id="form4" method="post">
            <p><label for="characteristics" class="form-label mt-3">i. Finding of Characteristics :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">ii. Evaluation of symptoms :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">iii. Analysis of case :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">iv. Repertorisation (competing remedies) :</label>
            </p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">v. Basis of selection :</label></p>
            <textarea class="form-control mb-4" name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>


            <%- include("partials/buttons") %> 
        </form>

    </div>

    <%- include("partials/footer") %>
