<%- include("partials/header") %>
    
    <div class="page">
        <h1 class="mb-4 main_heading">CASE TAKING PROFORMA</h1>
        <h2 class="py-4">1. IDENTIFICATION</h2>
        <form action="" id="page1">
   

            <div class="row align-items-center gap-2 mt-4">
                <label for="ref_no">Ref no :</label>
                <div class="col">
                    <input type="text" id="ref_no">
                </div>
                <div class="col">
                    <input type="date" id="date" class="w-auto">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="name" class="form-label mb-3 mt-4">Name: </label>
                    <textarea type="text" id="name" class="form-control" name="fullName"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="age" class="form-label mb-3 mt-4">Age: </label>
                    <textarea type="text" id="age" class="form-control" name="age"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label for="address" class="form-label mb-3 mt-4">Address: </label>
                    <textarea type="text" id="address" class="form-control" name="address"></textarea> <br>
                </div>
                <div class="col-md-6">
                    <label for="sex" class="form-label mb-3 mt-4">Sex: </label>
                    <textarea type="text" id="sex" class="form-control" name="sex"></textarea><br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label for="contact" class="form-label mb-3 mt-2">Contact: </label>
                    <textarea type="text" id="contact" class="form-control" name="contact"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="religion" class="form-label mb-3 mt-2">Religion: </label>
                    <textarea type="text" id="religion" class="form-control" name="religion"></textarea><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="occupation" class="form-label mb-3 mt-2">Occupation: </label>
                    <textarea type="text" id="occupation" class="form-control" name="occupation"></textarea><br> 
                </div>
            </div> 
            <div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
                <button class="btn btn-warning ounded px-4">Skip</button>
                <button class="btn btn-primary rounded px-4">Next Page</button>
            </div>     
        </form>
    
    </div>
    


<%- include("partials/footer") %>
