<%- include("partials/header") %>

    <div class="page">
        <h2 class="py-4">4. SELECTION OF REMEDY</h2>
        <form action="" id="form4">
            <p><label for="characteristics" class="form-label mt-3">i. Finding of Characteristics :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">ii. Evaluation of symptoms :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">iii. Analysis of case :</label></p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">iv. Repertorisation (competing remedies) :</label>
            </p>
            <textarea class="form-control name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>

            <p><label for="characteristics" class="form-label mt-3">v. Basis of selection :</label></p>
            <textarea class="form-control mb-4" name=" characteristics" id="characteristics" cols="40" rows="6"></textarea>


            <div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
                <button class="btn btn-primary rounded px-4">Skip</button>
                <button class="btn btn-warning ounded px-4">Next Page</button>
            </div>
        </form>
    </div>

    <%- include("partials/footer") %>