<%- include("partials/header") %>

    <div class="page">
        <h2>4. SELECTION OF REMEDY</h2>
        <form action="/page4" id="form4" method="post">
            <p><label for="characteristics" class="form-label mt-4">i. Finding of Characteristics :</label></p>
            <textarea class="form-control" name="characteristics" id="characteristics" cols="40" rows="6"></textarea>
            
            <p><label for="evaluation" class="form-label mt-5">ii. Evaluation of symptoms :</label></p>
            <textarea class="form-control" name="evaluation" id="evaluation" cols="40" rows="6"></textarea>

            <p><label for="analysis" class="form-label mt-5">iii. Analysis of case :</label></p>
            <textarea class="form-control" name="analysis" id="analysis" cols="40" rows="6"></textarea>

            <p><label for="repertorisation" class="form-label mt-5">iv. Repertorisation (competing remedies) :</label></p>
            <textarea class="form-control" name="repertorisation" id="repertorisation" cols="40" rows="6"></textarea>

            <p><label for="selection" class="form-label mt-5">v. Basis of selection :</label></p>
            <textarea class="form-control" name="selection" id="selection" cols="40" rows="6"></textarea>            
            <button type="submit" class="btn btn-outline-dark">Send</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/index.js"></script>

<%- include("partials/footer") %>
