@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --bg-light: rgb(249, 249, 249);
  --heading-two: #db2777;
}

h1 {
  font-weight: 700;
  color: var(--bg-light);
  position: relative;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: var(--heading-two);
}

body {
  background-color: rgb(246, 246, 246);
  font-family: "Poppins", sans-serif;
}

h4 {
  margin: 3rem 0 1rem;
  font-weight: 400;
  color: #8f97df;
}

h5 {
  margin: 1.5rem 0 1rem;
  font-size: 24px;
  font-weight: 400;
  color: #f97316;
}

.page {
  padding: 2.5rem 2rem;
  border-radius: 20px;
  height: 100vh;
  /* margin-top: 4rem; */
}

.heading {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 17px;
  font-weight: 300;
  margin: 1rem 0;
  color: var(--white);
}

input[type="date"] {
  width: auto;
  height: auto;
  border: none;
  background-color: var(--bg-light);
}

.text {
  width: 100%;
  border: none;
  background-color: lightgray;
}

td {
  padding: 0;
  text-align: center;
}

th {
  text-align: center;
}

#date {
  width: 12%;
}

#disease_name {
  width: 100% !important;
  height: 100% !important;
  padding: 4px 10px 7px;
  border: none;
}

#page2_table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}
#page2_table td {
  height: 100%;
}

hr {
  height: 3px;
  margin: 3rem auto;
  background-color: #fde68a;
  border-radius: 30px;
}

textarea,
input {
  border: 0 !important;
  outline: none !important;
  background-color: #e4e4e7 !important;
  outline: none !important;
  box-shadow: 2px 4px 2px #242424;
  resize: none;
  overflow-y: auto;
  padding: 0.8rem 1rem !important;
  border-radius: 0.5rem !important;
}

.main_heading {
  text-align: center;
  font-size: 3rem;
  font-family: "Delicious Handrawn", cursive;
}

.select_area {
  border: none;
  outline: none;
  background: #ccc;
  border-radius: 10px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.718), rgba(0, 0, 0, 0.86)),
    url(../images/wallpaper.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed;
}

.login_form_wrapper {
  background-color: #14b8a6;
  display: flex;
  flex-direction: column;
}

.form_container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1rem;
}

/* login style */
.login_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-signin {
  width: 26rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  height: 50%;
  border-radius: 1rem;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textarea:disabled,
input:disabled {
  color: grey;
  cursor: not-allowed;
}

.form-control:disabled {
  background-color: red;
}

.centered {
  padding-top: 300px;
  text-align: center;
}

.error_message {
  color: rgb(96, 21, 21);
  background-color: rgb(179, 117, 117);
  /* width: 50%; */
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.new_application_btn {
  display: block;
  width: 200px;
  padding: 0.8rem;
  margin: 5rem 0;
}

.alert {
  width: 40%;
  margin: 20px auto;
}


/* Login mobile responsive  */
@media (max-width: 1024px) {
  .alert {
    width: 80%;
  }
}
@media (max-width: 740px) {
  .alert {
    width: 100%;
  }
  .main_heading {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .form-signin {
    width: 20rem;
  }
  .main_heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .form-signin {
    width: 16rem;
  }

  h1 {
    font-weight: 700;
    color: var(--bg-light);
    position: relative;
    font-family: "Raleway", sans-serif;
  }

  h2 {
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: var(--heading-two);
  }

  body {
    background-color: rgb(246, 246, 246);
    font-family: "Poppins", sans-serif;
  }

  h4 {
    margin: 3rem 0 1rem;
    font-weight: 400;
    color: #818cf8;
  }

  h5 {
    margin: 1.5rem 0 1rem;
    font-size: 24px;
    font-weight: 400;
    color: #f97316;
  }

  .page {
    padding: 1.5rem 2rem;
    border-radius: 20px;
    height: 100%;
  }

  .heading {
    display: flex;
    justify-content: space-between;
  }

  label {
    font-size: 17px;
    font-weight: 300;
    margin: 1rem 0;
    color: var(--white);
  }

  input[type="date"] {
    width: auto;
    height: auto;
    border: none;
    background-color: var(--bg-light);
  }

  .text {
    width: 100%;
    border: none;
    background-color: lightgray;
  }

  td {
    padding: 0;
    text-align: center;
  }

  th {
    text-align: center;
  }

  #date {
    width: 12%;
  }

  #disease_name {
    width: 100% !important;
    height: 100% !important;
    padding: 4px 10px 7px;
    border: none;
  }

  #page2_table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }
  #page2_table td {
    height: 100%;
  }

  hr {
    height: 3px;
    margin: 3rem auto;
    background-color: #fde68a;
    border-radius: 30px;
  }

  textarea,
  input {
    border: 0 !important;
    outline: none !important;
    background-color: #e4e4e7 !important;
    outline: none !important;
    box-shadow: 2px 4px 2px #242424;
    resize: none;
    overflow-y: auto;
    padding: 0.8rem 1rem !important;
    border-radius: 0.5rem !important;
  }

  .select_area {
    border: none;
    outline: none;
    background: #ccc;
    border-radius: 10px;
  }

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgb(0, 0, 0)),
      url(../images/wallpaper.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed;
  }
}

.form_box {
  border-bottom: 1px solid #5f5f5f;
  padding: 3rem 0;
}
.form_box:last-child {
  border: 2px solid red;
}
.form_box:first-child {
  padding-top: 0;
}

/* Preloader */

#preloader {
  background: #000 url(../images/preloader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 9999;
}
