<h2 class="py-4">4. SELECTION OF REMEDY</h2>
<p><label for="characteristics" class="form-label mt-3">i. Finding of Characteristics :</label></p>
<textarea class="form-control name=" characteristics" id="characteristics" name="find_characteristics"></textarea>

<p><label for="symptoms" class="form-label mt-3">ii. Evaluation of symptoms :</label></p>
<textarea class="form-control" id="symptoms" name="evaluation_of_symptoms"></textarea>

<p><label for="analysis" class="form-label mt-3">iii. Analysis of case :</label></p>
<textarea class="form-control"  id="analysis" name="analysis_of_case"></textarea>

<p><label for="Repertorisation" class="form-label mt-3">iv. Repertorisation (competing remedies) :</label></p>
<textarea class="form-control" id="Repertorisation" name="repertorisation"></textarea>

<p><label for="selection" class="form-label mt-3">v. Basis of selection :</label></p>
<textarea class="form-control mb-4" id="selection" name="basis_of_selction" ></textarea>


