<div class="heading mb-4">
<h2>PRESCRIPTION & FOLLOW UP</h2>
<div class="buttons">
    <button class="add btn btn-outline-success px-4 py-3"><i class="fa-solid fa-plus"></i></button>
    <button class="remove btn btn-outline-danger px-4 py-3"><i class="fa-solid fa-minus"></i></button>
</div>
</div>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-1 text-white">#</th>
                <th class="col-3 text-white">DATE</th>
                <th class="col-4 text-white">REMARKS</th>
                <th class="col-4 text-white">Rx</th>
            </tr>
        </thead>
        
        <tbody id="nextRow">
            <tr class="row">
                <td class="col-1 text-white">1</td>
                <td class="col-3 p-0 text-uppercase"><input type="date"></td>
                <td class="col-4 p-0"><textarea name="" class="text" ></textarea></td>
                <td class="col-4 p-0" style = "height: 30px"><textarea name="" class="text" "></textarea></td>
            </tr>
        </tbody>
    </table>
</div>



